<!doctype html>
<html lang="en">

<head>
    <title>Trang chi tiết</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container-fluid">
        <!-- Start header -->
        <header class="row">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-sm-2 p-2">
                        <img src="images/logo.png"
                            class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                            alt="">
                    </div>
                    <div class="col-2"></div>
                    <div class="col-2"></div>
                    <div class="col-6 col-sm-2 p-2">
                        <div class="row contact">
                            <div class="col-2 d-flex justify-content-center align-items-center contact-logo">
                                <i class="fas fa-paper-plane"></i>
                            </div>
                            <div class="col-10">
                                <span class="contact-label">Email:</span>
                                <span class="contact-des">yourname@gmail.com</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-2 p-2">
                        <div class="row contact">
                            <div class="col-2 d-flex justify-content-center align-items-center contact-logo">
                                <i class="fas fa-phone"></i>
                            </div>
                            <div class="col-10">
                                <span class="contact-label">Phone:</span>
                                <span class="contact-des">+84-99-09-09-01</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 p-2 d-flex justify-content-end w-sm-100">
                        <button class="button-effect w-100" data-toggle="modal" data-target="#exampleModal">Free
                            Register <i class="fal fa-long-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </header>
        <nav class="row bg-navy">
            <div class="container">
                <nav class="row navbar navbar-expand-lg nav_cus px-sm-0">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon d-flex justify-content-center align-items-center"><i
                                class="fad fa-bars cus_logo_reponsive"></i></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link nav-click" href="#">Trang chủ <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-click" href="#">Tin tức</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-click" href="product_p1.html">Sản phẩm</a>
                            </li>
                            <li class="nav-item dropdown" id="hover">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Danh mục
                                </a>
                                <div class="dropdown-menu bg-navy" id="menu_hover" aria-labelledby="nav">
                                    <a class="dropdown-item" href="#">Máy ảnh Sony</a>
                                    <a class="dropdown-item" href="#">Máy ảnh Canon</a>
                                    <a class="dropdown-item" href="#">Máy ảnh Nikon</a>
                                    <a class="dropdown-item" href="#">Máy ảnh Fujfilm</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Flycam</a>
                                    <a class="dropdown-item" href="#">Drone</a>
                                    <a class="dropdown-item" href="#">Xe ô tô RC</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Phụ kiện máy quay</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-click" href="#">Liên hệ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-click" href="#">Tuyển dụng</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-click" href="#">Giới thiệu</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0 form-search">
                            <input class="form-control mr-sm-2 w-100" id="search" type="search" placeholder="Tìm kiếm"
                                aria-label="Search">
                            <button type="submit" class="btn-submit"><i class="fa fa-search"
                                    aria-hidden="true"></i></button>
                        </form>
                    </div>
                </nav>
            </div>
        </nav>
        <!-- End header -->
        <div class="row">
            <div class="container py-3">
                <div class="row mb-3">
                    <nav aria-label="">
                        <ol class="breadcrumb bg-white">
                            <li class="breadcrumb-item"><a href="#">_Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">_Iphone 12 ProMart</li>
                        </ol>
                    </nav>
                </div>
                <div class="row mb-5">
                    <div class="col-lg-6">
                        <img src="https://www.xtmobile.vn/vnt_upload/product/Hinh_DT/Iphone/thumbs/(600x600)_crop_iphone-12-256-gb-xtmobile.jpg"
                            class="rounded mx-auto d-block w-75" alt="...">
                    </div>
                    <div class="col-lg-6">
                        <h3 class="text-name">iPhone 12 Pro Max Chính Hãng (VN/A)</h3>
                        <h6 class="brand-name">Brand name | <i class="fa fa-eye"></i> 9999</h6>
                        <hr>
                        <div class="tabs">
                            <h3 class="mb-2 navbar-brand">Thông số kĩ thuật</h3>
                            <ul class="list-group border-light mb-2">
                                <li class="list-group-item p-2 d-flex"><span class="col-4">Màn hình: </span><span
                                        class="col-8 font-weight-bold">Khang duong</span></li>
                                <li class="list-group-item p-2 d-flex"><span class="col-4">Hệ điều hành: </span><span
                                        class="col-8 font-weight-bold">Khang duong</span></li>
                                <li class="list-group-item p-2 d-flex"><span class="col-4">Camera Sau: </span><span
                                        class="col-8 font-weight-bold">Khang duong</span></li>
                                <li class="list-group-item p-2 d-flex"><span class="col-4">Camera Trước: </span><span
                                        class="col-8 font-weight-bold">Khang duong</span></li>
                                <li class="list-group-item p-2 d-flex"><span class="col-4">CPU: </span><span
                                        class="col-8 font-weight-bold">Khang duong</span></li>
                                <li class="list-group-item p-2 d-flex"><span class="col-4">RAM: </span><span
                                        class="col-8 font-weight-bold">Khang duong</span></li>
                                <li class="list-group-item p-2 d-flex"><span class="col-4">Bộ nhớ trong: </span><span
                                        class="col-8 font-weight-bold">Khang duong</span></li>
                                <li class="list-group-item p-2 d-flex"><span class="col-4">Thẻ nhớ: </span><span
                                        class="col-8 font-weight-bold">Khang duong</span></li>
                                <li class="list-group-item p-2 d-flex"><span class="col-4">Thẻ sim: </span><span
                                        class="col-8 font-weight-bold">Khang duong</span></li>
                                <li class="list-group-item p-2 d-flex"><span class="col-4">Dung lượng pin: </span><span
                                        class="col-8 font-weight-bold">Khang duong</span></li>
                            </ul>
                            <div class="addcart mt-5">
                                <button type="button" class="btn btn-warning text-white">Thêm vào giỏ hàng</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="tab-content w-100">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                                    role="tab" aria-controls="nav-home" aria-selected="true">Mô tả sản phẩm</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                                    role="tab" aria-controls="nav-profile" aria-selected="false">Bình luận</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                aria-labelledby="nav-home-tab">
                                <div class="conten-des p-4">
                                    <h2><strong>Điện thoại iPhone 12 Pro Max: N&acirc;ng tầm đẳng cấp sử dụng</strong>
                                    </h2>

                                    <p>Cứ mỗi năm, đến dạo cuối th&aacute;ng 8 v&agrave; gần đầu th&aacute;ng 9
                                        th&igrave; mọi th&ocirc;ng tin s&ocirc;i sục mới về chiếc iPhone mới lại xuất
                                        hiện. Apple năm nay lại ra th&ecirc;m một chiếc iPhone mới với t&ecirc;n gọi mới
                                        l&agrave;&nbsp;<strong>iPhone 12 Pro Max</strong>, đ&acirc;y l&agrave; một
                                        d&ograve;ng điện thoại mới v&agrave; mạnh mẽ nhất của nh&agrave; Apple năm nay.
                                        Mời bạn tham khảo th&ecirc;m một số m&ocirc; tả sản phẩm b&ecirc;n dưới để bạn
                                        c&oacute; thể ra quyết định mua sắm.</p>

                                    <h3><strong>M&agrave;n h&igrave;nh 6.7 inches&nbsp;Super Retina XDR</strong></h3>

                                    <p>Năm nay, c&ocirc;ng nghệ m&agrave;n h&igrave;nh tr&ecirc;n 12 Pro Max cũng được
                                        đổi mới v&agrave; trang bị tốt hơn c&ugrave;ng k&iacute;ch thước l&ecirc;n đến
                                        6.7 inch, lớn hơn nhiều so với&nbsp;<a
                                            href="https://cellphones.com.vn/iphone-12-mini.html">điện thoại iPhone 12
                                            Mini</a>. Với c&ocirc;ng nghệ m&agrave;n h&igrave;nh OLED cho khả năng hiển
                                        thị h&igrave;nh ảnh l&ecirc;n đến 2778 x 1284&nbsp;pixels. B&ecirc;n cạnh
                                        đ&oacute;, m&agrave;n h&igrave;nh n&agrave;y c&ograve;n cho độ s&aacute;ng tối
                                        đa cao nhất l&ecirc;n đến 800 nits, lu&ocirc;n đảm bảo cho bạn một độ
                                        s&aacute;ng cao v&agrave; dễ nh&igrave;n nhất ngo&agrave;i nắng.</p>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                aria-labelledby="nav-profile-tab">
                                <div class="comments p-4">
                                    <div class="form-cmt">
                                        <div class="form-group">
                                            <label for="noidung">Họ và tên:</label>
                                            <input type="text" name="" id="noidung" class="form-control" placeholder=""
                                                aria-describedby="helpId" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="">Nội dung bình luận:</label>
                                            <textarea class="form-control" name="" id="" rows="2" required
                                                style="resize: none;"></textarea>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="show_cmt">
                                        <div class="mess">
                                            <div class="d-flex">
                                                <div class="col-1">
                                                    <img src="https://iupac.org/wp-content/uploads/2018/05/default-avatar.png"
                                                        class="img-fluid" alt="">
                                                </div>
                                                <div class="col-11">
                                                    <h6>Khang Dương</h6>
                                                    <span class="brand-name d-block">22/02/2001</span>
                                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                                        Obcaecati iure ipsa maiores ducimus magnam, delectus,
                                                        consequatur numquam suscipit debitis maxime id explicabo
                                                        deserunt quasi eaque libero, perferendis omnis repudiandae
                                                        optio.</p>
                                                </div>
                                            </div>
                                            <div class="d-flex">
                                                <div class="col-1">
                                                    <img src="https://iupac.org/wp-content/uploads/2018/05/default-avatar.png"
                                                        class="img-fluid" alt="">
                                                </div>
                                                <div class="col-11">
                                                    <h6>Triệu Vy</h6>
                                                    <span class="brand-name d-block">22/02/2001</span>
                                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                                        Obcaecati iure ipsa maiores ducimus magnam, delectus,
                                                        consequatur numquam suscipit debitis maxime id explicabo
                                                        deserunt quasi eaque libero, perferendis omnis repudiandae
                                                        optio.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <h4>Sản phẩm liên quan</h4>
                    <div class="card-columns">
                        <div class="card mt-4 rounded shadow-sm card-product position-relative">
                            <img class="card-img-top"
                                src="https://www.xtmobile.vn/vnt_upload/product/Hinh_DT/Iphone/thumbs/(600x600)_crop_iphone-12-256-gb-xtmobile.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <a href="">
                                    <h5 class="card-title">Dji Inspire-4</h5>
                                </a>
                                <div class="row">
                                    <div class="col-6">
                                        <span class="font-weight-bold">1,500,000đ</span>
                                    </div>
                                    <div class="col-6">
                                        <button class="btn bg-navy text-white btn-addcart">
                                            Mua ngay
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-4 rounded shadow-sm card-product position-relative">
                            <img class="card-img-top"
                                src="https://www.xtmobile.vn/vnt_upload/product/Hinh_DT/Iphone/thumbs/(600x600)_crop_iphone-12-256-gb-xtmobile.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <a href="">
                                    <h5 class="card-title">Dji Inspire-4</h5>
                                </a>
                                <div class="row">
                                    <div class="col-6">
                                        <span class="font-weight-bold">1,500,000đ</span>
                                    </div>
                                    <div class="col-6">
                                        <button class="btn bg-navy text-white btn-addcart">
                                            Mua ngay
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-4 rounded shadow-sm card-product position-relative">
                            <img class="card-img-top"
                                src="https://www.xtmobile.vn/vnt_upload/product/Hinh_DT/Iphone/thumbs/(600x600)_crop_iphone-12-256-gb-xtmobile.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <a href="">
                                    <h5 class="card-title">Dji Inspire-4</h5>
                                </a>
                                <div class="row">
                                    <div class="col-6">
                                        <span class="font-weight-bold">1,500,000đ</span>
                                    </div>
                                    <div class="col-6">
                                        <button class="btn bg-navy text-white btn-addcart">
                                            Mua ngay
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-4 rounded shadow-sm card-product position-relative">
                            <img class="card-img-top"
                                src="https://www.xtmobile.vn/vnt_upload/product/Hinh_DT/Iphone/thumbs/(600x600)_crop_iphone-12-256-gb-xtmobile.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <a href="">
                                    <h5 class="card-title">Dji Inspire-4</h5>
                                </a>
                                <div class="row">
                                    <div class="col-6">
                                        <span class="font-weight-bold">1,500,000đ</span>
                                    </div>
                                    <div class="col-6">
                                        <button class="btn bg-navy text-white btn-addcart">
                                            Mua ngay
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="row bg-navy mt-5">
            <div class="container">
                <div class="row text-white py-5">
                    <div class="col-3">
                        <img src="images/logo.png"
                            class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                            alt="">
                    </div>
                    <div class="col-3">
                        <ul class="list-group">
                            <li class="">Cras justo odio</li>
                            <li class="">Dapibus ac facilisis in</li>
                            <li class="">Morbi leo risus</li>
                            <li class="">Porta ac consectetur ac</li>
                            <li class="">Vestibulum at eros</li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul class="list-group">
                            <li class="">Cras justo odio</li>
                            <li class="">Dapibus ac facilisis in</li>
                            <li class="">Morbi leo risus</li>
                            <li class="">Porta ac consectetur ac</li>
                            <li class="">Vestibulum at eros</li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul class="list-group">
                            <li class="">Cras justo odio</li>
                            <li class="">Dapibus ac facilisis in</li>
                            <li class="">Morbi leo risus</li>
                            <li class="">Porta ac consectetur ac</li>
                            <li class="">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Modal đăng ký -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tài khoản</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-primary" role="alert">
                        Bạn đã đăng ký thành công!!
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Username</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="Password">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <div class="form-group">
                            <span>Nếu bạn đã có tài khoản, mời bạn đăng nhập <a href="" data-toggle="modal"
                                    data-target="#Modal" data-dismiss="modal">tại đây</a>!!</span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary">Đăng ký</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal đăng nhập -->
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Đăng nhập</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Username:</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="Password">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Đăng nhập</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="js/function.js"></script>

</body>

</html>